{{!-- views/events-index.handlebars --}}
<div class="row mt-4">
    <div class="col-lg-6 offset-lg-3">
        <h1>New Event</h1>
        <a href="/events/new">Create Event</a>
        <h1>Events</h1>
        {{#each events}}
                <div class="card mt-3">
                    <img class="card-img-top" src="{{this.imgUrl}}" alt="Pug wrapped in blanket">
                    {{!-- Card body --}}
                    <div class="card-body">
                        {{!-- Card Title --}}
                        <h5 class="card-title">{{this.title}}</h5>
                        {{!-- Card Description --}}
                        <p class="card-text">{{this.desc}}</p>
                        {{!-- Buttons --}}
                        <div class="text-right float-end">
                            <a href="#" class="btn btn-info">Rsvp</a>
                            <a href="/events/{{this.id}}" class="btn btn-primary">View</a>
                        </div>
                    </div>
                </div>
        {{/each}}
    </div>
</div>