{{!-- views/events-new.handlebars --}}

<div class="container d-flex justify-content-center mt-4">
      <form action="/events" method="post">
      <h2>New Event</h2>
        {{> events-form }}
        {{!-- Submit Button --}}
       <div class="text-right">
          <button type="submit" class="btn btn-primary mt-3" name="button">Save</button>
          <a href="/" class='text-muted mr-2 text-decoration-none'>Cancel</a>
      </div>
    </form>
</div>