{{!-- views/login.handlebars --}}

<h2 class="text-center mt-3">Login</h2>
<form class="form-group">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  {{!-- Password --}}
  <div class="mb-2">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <a class="mb-4" href="/signup">Need a account?</a>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Not a robot</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>